/*
 * vim: ft=less
 */

@import '/home/draco/.cache/wal/colors-waybar.css';

* {
    min-height: 0px;
    /* border: none; */
    font-family: 'JetBrainsMono Nerd Font';
    font-size: 10.5px;
}

window#waybar {
    background-color: transparent;
    color: @foreground;
    transition-duration: 0.5s;
    border-radius: 8px;
    border-style: solid;
}


#workspaces button {
    margin: 3px;
    padding: 1;
    background-color: @background;
    color: @foreground;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    color: @foreground;
    font-weight: bolder;
    background-color: @color10;
    /* box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px; */
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 6px;
    animation: gradient_f 20s ease-in infinite, gradient 10s ease infinite;
    transition: all 0.3s ease-in-out;
}

#window {
    padding: 0px 7px 0px 7px;
    /* background-color: @background; */
    /* border-radius: 8px; */
    margin: 2px;
    color: @background;
}


#custom-media.custom-spotify {
    color: #66cc99;
}

/* general applied to most modules */
#network,
#backlight,
#idle_inhibitor,
#custom-wallchange,
#custom-media,
#custom-swaync,
#bluetooth,
#battery,
#clock,
#mpd,
#temperature,
#custom-cava_mviz,
#custom-weather,
#power-profiles-daemon,
#custom-playerctl,
#tray {
    color: @foreground;
    padding: 0px 7px 0px 7px;
    border-radius: 8px;
    margin: 2px;
    background-color: @background;
}

/* style for groups and individul modules */
#motherboard {
    background-color: @background;
    padding: 0px 8px 0px 8px;
    border-radius: 8px;
    margin: 2px;
    color: @color8;
}

#cpu,
#memory {
    margin-left: 8px;
}

#audio {
    background-color: @background;
    padding: 0px 8px 0px 8px;
    border-radius: 8px;
    margin: 2px;
}

#pulseaudio,
#pulseaudio.microphone {
    margin-right: 4px;
}

#custom-cava_mviz {
    margin-left: 40px;
    color: @color6;
}

#custom-playerctl {
    background: alpha(@background, 0.5);
}

#custom-wallchange,
#pulseaudio {
    color: @color14;
}

#battery.critical,
#battery.warning,
#battery.full,
#battery.plugged {
    color: @color13;
}

#battery {
    color: @color14;
}

#mpd {
    color: @color11;
}

#pulseaudio.muted,
#network.disconnected {
    color: @color11;
}

#network,
#backlight {
    color: @color13;
}

tooltip {
    border-radius: 8px;
    border-style: solid;
    padding: 15px;
    background-color: @background;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
}
