@import '/home/draco/.cache/wal/colors-waybar.css';

* {
    min-height: 0;
    border: none;
    font-family: 'JetBrainsMono Nerd Font';
    font-size: 11px;
    font-weight: bold;
}

window#waybar {
    background-color: alpha(@background, 0.3);
    color: @foreground;
    transition-duration: 0.5s;
    border-radius: 8px;
    border-style: solid;
}

#workspaces button {
    margin: 4px 2px;
    padding: 0;
    background-color: alpha(@background, 0.7);
    color: @foreground;
    border-radius: 9px;
    animation: gradient_f 20s ease-in infinite;
}

#workspaces button.active {
    color: @color9;
    padding-left: 5px;
    padding-right: 5px;
    transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#custom-media.custom-spotify {
    color: #66cc99;
}

/* general applied to most modules */
#network,
#backlight,
#idle_inhibitor,
#custom-wallchange,
#custom-media,
#bluetooth,
#battery,
#clock,
#temperature,
#custom-cava_mviz,
#power-profiles-daemon,
#custom-playerctl,
#tray {
    color: @foreground;
    padding: 0px 8px 0px 8px;
    border-radius: 10px;
    margin: 2px;
    background-color: @background;
}

/* style for groups and individul modules */
#motherboard {
    background-color: @background;
    padding: 0px 8px 0px 8px;
    border-radius: 10px;
    margin: 2px;
    color: @color8;
}

#cpu,
#disk,
#memory {
    margin-right: 8px;
}

#audio {
    background-color: @background;
    padding: 0px 8px 0px 8px;
    border-radius: 10px;
    margin: 2px;
}

#pulseaudio,
#pulseaudio.microphone {
    margin-right: 4px;
}

#custom-cava_mviz {
    margin-right: 15px;
}

#custom-playerctl {
    background: alpha(@background, 0.5);
}

#custom-wallchange,
#pulseaudio {
    color: @color14;
}

#battery.critical,
#battery.warning,
#battery.full,
#battery.plugged {
    color: @color15;
}

#pulseaudio.muted,
#network.disconnected {
    color: @color11;
}

#network,
#backlight {
    color: @color13;
}

tooltip {
    border-radius: 10px;
    padding: 15px;
    background-color: alpha(@background, 0.5);
}
