/*
 * vim: ft=less
 */

@import '/home/draco/.cache/wal/colors-waybar.css';

* {
    min-height: 0px;
    font-family: 'JetBrainsMono Nerd Font';
    font-size: 10.5px;
}

window#waybar {
    background-color: transparent;
    color: @foreground;
    transition-duration: 0.5s;
    border-radius: 8px;
    border-style: solid;
}

window#waybar.bottom .modules-center {
    color: @color5;
    padding: 0px;
}

#workspaces {
    background: @background;
    margin: 2px;
    border-radius: 8px;
    padding: 0px 4px 0px 4px;
}

#workspaces button {
    margin: 2px;
    padding: 1px;
    background-color: @color1;
    color: @foreground;
    border-radius: 40px;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    color: @foreground;
    font-weight: bolder;
    background-color: @color10;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 6px;
    animation: gradient_f 20s ease-in infinite, gradient 10s ease infinite;
    transition: all 0.3s ease-in-out;
}

#workspaces button.urgent {
    background-color: @color4;
    opacity: 0.8;
}

#window {
    padding: 0px 7px 0px 7px;
    margin: 2px;
    color: @background;
}


#custom-media.custom-spotify {
    color: #66cc99;
}

/* general applied to most modules */
#network,
#backlight,
#idle_inhibitor,
#custom-wallchange,
#custom-media,
#custom-swaync,
#bluetooth,
#battery,
#clock,
#mpd,
#temperature,
#custom-cava_mviz,
#custom-weather,
#power-profiles-daemon,
#custom-playerctl,
#tray {
    color: @foreground;
    padding: 0px 7px 0px 7px;
    border-radius: 8px;
    margin: 2px;
    background-color: @background;
}

/* style for groups and individul modules */
#hardware {
    background-color: @background;
    padding: 0px 8px 0px 8px;
    border-radius: 8px;
    margin: 2px;
    color: @color8;
}

#cpu,
#memory {
    margin-left: 8px;
}

#audio {
    background-color: @background;
    padding: 0px 8px 0px 8px;
    border-radius: 8px;
    margin: 2px;
}

#custom-cava_mviz {
    margin-left: 40px;
    color: @color6;
}

#custom-playerctl {
    background: alpha(@background, 0.5);
}

#custom-wallchange,
#pulseaudio {
    color: @color14;
}

#battery.critical,
#battery.warning,
#battery.full,
#battery.plugged {
    color: @color13;
}

#battery {
    color: @color14;
}

#mpd {
    color: @color11;
}

#pulseaudio.muted,
#network.disconnected {
    color: @color11;
}

#network,
#backlight {
    color: @color13;
}

tooltip {
    border-radius: 8px;
    border-style: solid;
    padding: 15px;
    background-color: @background;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
}

/* #app-launcher { 
    font-size: 20px;
    min-width: 30px;
}
*/

#pulseaudio,
#pulseaudio.microphone {
    margin-right: 4px;
}

#pulseaudio-slider {
    padding: 0px 15px 0px 0px;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 1;
    background-image: none;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-height: 4px;
    min-width: 60px;
    border-radius: 5px;
    background-color: @color8;
}

#pulseaudio-slider highlight {
    min-width: 2px;
    border-radius: 5px;
    background-color: @color3;
}
