@import '../../.cache/wal/colors-waybar.css';

@define-color noti-border-color @background;
@define-color noti-bg alpha(@background, .55);
@define-color noti-bg-hover @color1;
@define-color noti-bg-focus @color2;
@define-color noti-close-bg @background;
@define-color noti-close-bg-hover @color1;
@define-color mpris-album-art-overlay rgba(0, 0, 0, 0.55);
@define-color bg-selected @color2;
@define-color shade-lighter rgba(255, 255, 255, 0.1);

* {
    font-family: 'JetBrainsMono Nerd Font';
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
    opacity: 1;
    background: @noti-bg;
    border-radius: 0px;
    margin: 0px;
}

.notification {
    border-radius: 10px;
    padding: 0;
    border: 1px solid @noti-close-bg;
    background: @noti-bg;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
}

.notification-content {
    background: transparent;
    padding: 10px;
}

/* The notification Close Button */
.close-button {
    background: @noti-close-bg;
    color: @text-color;
    text-shadow: none;
    padding: 0;
    border-radius: 100%;
    margin-top: 20px;
    margin-right: 13px;
    box-shadow: none;
    border: none;
    min-width: 24px;
    min-height: 24px;
}

.close-button:hover {
    box-shadow: none;
    background: @noti-close-bg-hover;
    transition: all 0.15s ease-in-out;
    border: none;
}

.notification-default-action,
.notification-action {
    padding: 4px;
    margin: 0;
    box-shadow: none;
    background: @noti-bg;
    border: none;
    color: @text-color;
    transition: all 0.15s ease-in-out;
    font-size: 11pt;
}

.notification-default-action:hover,
.notification-action:hover {
    -gtk-icon-effect: none;
    background: @noti-bg-hover;
}

.notification-default-action {
    border-radius: 8px;
}

.notification-default-action:not(:only-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.notification-action {
    border-radius: 0;
    border-top: none;
    border-right: none;
}

.notification-action:first-child {
    border-bottom-left-radius: 10px;
    background: @background;
}
