@import '/home/draco/.cache/wal/colors-wlogout.css';

window {
    font-family: 'JetBrainsMono Nerd Font';
    font-size: 14px;
    color: @foreground;
    background-color: alpha(@background, 0.6);
}

button {
    color: @foreground;
    font-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22%;
    background-color: transparent;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s ease-in;
    border-radius: 36px;
    margin: 10px;
}

button:focus {
    background-color: @color11;
    background-size: 30%;
}

#lock {
    background-image: image(url('icons/lock.png'));
}

#logout {
    background-image: image(url('icons/logout.png'));
}

#suspend {
    background-image: image(url('icons/suspend.png'));
}

#hibernate {
    background-image: image(url('icons/hibernate.png'));
}

#shutdown {
    background-image: image(url('icons/shutdown.png'));
}

#reboot {
    background-image: image(url('icons/reboot.png'));
}
